<a href="https://colab.research.google.com/github/Echevarriaj93/DATA6545-MLOPS/blob/main/Jose_Echevarria_DATA6545_PythonReviewQustions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coding Along Questions for basic Python

Below are a few in-class questions we will tackle together.

Please focus on the __logic__ and __process__ of solving these questions, rather than the code/result.

## Q1: I can draw with Python

__Knowledge required__: _string handling_, _reversed order loops_

Use `for` loop only to produce following output with a __function__.

```
\
= \
= = \
= = = \
= = = = \
= = = = /
= = = /
= = /
= /
/
```

In [ ]:
def pyramid(): 
#Ascending
  for i in range(5):
    for e in range(i):
      print('=', end=' ')
    print('\ ')

#Descending 
  for i in range(4, 0, -1):
    for e in range(i):
      print('=', end=' ')
    print('/')
#Final '/'
  print('/')

pyramid()

\
= \
= = \
= = = \
= = = = \
= = = = /
= = = /
= = /
= /
/

## Q2: Blast Count down

Use `for` loop only to produce following output with a __function__.

__Knowledge required__: _string handling_, _reversed order loops_

```
5...
4...
3...
2...
1...
Boom!!!
```

In [ ]:
def countdown():
#establish range 5 countdown. If number > 0 print concat '...' to number
  for i in range(5,  -1, -1):
    if i > 0:
      print(str(i) + '...')
#if number less than 1 print Boom!!!
  else:
     print('Boom!!!')

countdown()

5...
4...
3...
2...
1...
Boom!!!

## Q3: Spell Checker

Use `for` loop only to find all the misspelt words in the following text with a function.

__Knowledge required__: _string slicing_, _conditionals_

```
1 0WN A COMPUTER. 1 3ARNED A LOT OF 3XP3R13NC35 LAST YEAR. MY WORK HAS 23R0 5TR355.
```

In [ ]:
### Write your code here
sentence = '0WN A COMPUTER. 1 3ARNED A LOT OF 3XP3R13NC35 LAST YEAR. MY WORK HAS 23R0 5TR355.'

def mispelled_words(s):
#Strings immutable but lists are not
  split_sentence = sentence.split(' ')

#list to aggregate mispelled words
  mispelled_words = [] 
#if any char is numeric: append the entire word to list
  for word in split_sentence:
    for char in word:
      if char.isnumeric(): 
        mispelled_words.append(word)
#return only unique words
  return list(set(mispelled_words))

mispelled_words(sentence)

['5TR355.', '3XP3R13NC35', '23R0', '0WN', '3ARNED', '1']

### Fun moment:

Can you correct the spelling of the sentence above?

In [ ]:


#Dictionary of numbers and letters used in sentence
numkey = {'0': 'O', '1': 'I', '2': 'Z', '3': 'E', '5': 'S'} 

#Mispelled sentence
sentence = '0WN A COMPUTER. 1 3ARNED A LOT OF 3XP3R13NC35 LAST YEAR. MY WORK HAS 23R0 5TR355.'

#We will add corrected sentence here since strings are imutable
corrected = ""

for c in sentence: #for character in sentence

#if character in numkey dict keys then replace with keys corresponding value
  if c in numkey.keys(): 
    corrected += numkey[c]
#otherwise keep chracter as is
  else:
    corrected += c   
#Return corrected sentence
corrected

#Solution from Data6505. One liner.
# decoder = ''.join([numkey.get(c,c) for c in sentence])

# decoder

'OWN A COMPUTER. I EARNED A LOT OF EXPERIENCES LAST YEAR. MY WORK HAS ZERO STRESS.'

## Q4: Random Name Generator

Given lists of `first_names` and `last_names`, generate all possible names in the form of `last_name, first_name`.

__Knowledge required__: _nested loops_

In [ ]:
first_names = ['Anna', 'Carrie', 'Justin', 'Lacie']
last_names = ['Case', 'Conda', 'Curtains', 'Oakey']

In [ ]:
### Write your code here
import random

first_names = ['Anna', 'Carrie', 'Justin', 'Lacie']
last_names = ['Case', 'Conda', 'Curtains', 'Oakey']

#iterate throuhg all last names
for l in last_names:
#iterate through all first names
  for f in first_names:
#print all combinations of both
    print(l, f)

Case Anna
Case Carrie
Case Justin
Case Lacie
Conda Anna
Conda Carrie
Conda Justin
Conda Lacie
Curtains Anna
Curtains Carrie
Curtains Justin
Curtains Lacie
Oakey Anna
Oakey Carrie
Oakey Justin
Oakey Lacie

### Fun Moment:

Notice any funny names above?

## Q5: `return` vs `yield`

Write a function (`div_7`) to find all numbers that can be divided by `7` between `0` and `50`.

Use ``return`` and ``yield`` separately, and compare the use/outputs.

__Knowledge required__: _function defition and calls_

In [ ]:
### Write your code using ``return`` here
def div_7():
  divs = []
  for n in range(50):
    if n % 7 == 0:
      divs.append(n)
  return divs

In [ ]:
### call your function here
div_7()

[0, 7, 14, 21, 28, 35, 42, 49]

In [ ]:
### This is a generator function that can be used in a loop
def div_7y(n):
  for i in range(0, n):
    if i % 7 == 0:   
      yield i

In [ ]:
### Calling function where n = 50. Generates all numbers divisible by 7. 
for i in div_7y(50):
  print(i)

0
7
14
21
28
35
42
49

## Answer the Question:

What are the differences between ``return`` and ``yield``?

# return executes and end the function. Yield will return in demand elements and does not end. Its a way to have multiple returns and save memory.

## Q6: Substring Inserter

Write a function (`char_ins()`) to insert any user defined substring into the $n^{th}$ position of another string.

```python
char_ins('i', 3, 'python') --> 'pytihon'
char_ins('i', -287, 'python') --> 'ipython'
char_ins('i', 10000, 'python') --> 'pythoni'
char_ins('i', 2, '') --> 'i'
```

In [ ]:
 ### Write your function here
def char_ins(char , index, string):
  new = string[:index] + char + string[index:]
  return new


char_ins('ic', 0, 'python')

'icpython'

In [ ]:
### Test your function here

print(char_ins('i', 3, 'python'))
print(char_ins('i', -287, 'python')) 
print(char_ins('i', 10000, 'python'))
print(char_ins('i', 2, ''))

pytihon
ipython
pythoni
i